/* https://colorhunt.co/palette/cee5d0f3f0d7d8b3845e454b */

p,
li {
  font-family: "Montserrat", sans-serif;
}

/* Navigation Bar */

.navbar {
  font-family: "PT Serif", serif;
  background-color: #32502e;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F3EFCC;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ECE7B4;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #406343;
}

/* for dropdown only - change the color of dropdown */
.navbar-toggler {     
    background-color: #F3EFCC; 
}

#navbartoggler {
    background-color: #F3EFCC;  
}


/* Portfolio Page */

.card {
  margin-bottom: 2%;
}

.btn:hover {
  opacity: 0.5;
}

.body1 {
  text-align: center;
  padding: 5%;
  background: #406343;
}

.row2 {
  padding-top: 5%;
}

.body2 {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 2;
  padding: 5%;
}

.body3 {
  background: #ece7b4;
  padding-top: 5%;
  padding-bottom: 5%;
}

.carousel-item {
  height: auto;
}

.carousel-inner img {
  margin: auto;
  border-radius: 7%;
}

/* Resume CSS */

.resh1 {
  text-align: center;
  padding-top: 1%;
  font-size: 4rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
}

.resh3 {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

.rescolumns {
  padding: 3% 3% 3%;
}

/* Footer */
.bottom-container {
  background: #f3efcc;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
}

.footname {
  color: #32502e;
}

.footlink {
  padding: 1%;
  font-size: 2.5rem;
}

.footer-link {
  padding: 1%;
}

.footer-link:hover {
  opacity: 0.5;
}
