/* https://colorhunt.co/palette/cee5d0f3f0d7d8b3845e454b */

.navbar {
    background-color: #CEE5D0;
}

.navbar-item {
    background-color: white;
}


.body1 {
    padding: 5%;
    text-align: center;

}

.body2 {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 2;
    padding: 5%;

}

.body3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 500;
    line-height: 2;
    padding: 5%;
    height: ;

}

.carousel-inner img {
    margin: auto;
}

.bottom-container {
    text-align: center;
    padding: 2%;
}

