/* https://colorhunt.co/palette/cee5d0f3f0d7d8b3845e454b */

p,
li {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #e5e4e2;
  }

.navbar { font-family: 'PT Serif', serif;
    !important;
 }

 /* Portfolio Page */

.card {
    margin-bottom: 2%;
}

.btn:hover {
    opacity: .5;
}


.body1 {
    text-align: center;
    padding: 3%;

}

.row2 {
    padding-top:5% ; 
}

.body2 {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 2;
    padding: 5%;
    background-color: #000;
    color: white;
}

.body3 {
    margin-top: 3%;
    margin-bottom: 4%;
}

.carousel-item {
    height: auto;
}

.carousel-inner img {
    margin: auto;
}

.bottom-container {
    text-align: center;
    padding-bottom: 1%;
    background-color: #adb5bd;
    padding-top: 1%;
}


/* Resume CSS */

.resh1 {
    text-align: center;
    padding-top: 1%;
    font-size: 4rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}

.resh3 {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.rescolumns {
    padding: 3% 3% 3%;

}


/* Footer */
.footlink {
    padding: 1%;
    font-size: 2.5rem;

}

.footer-link {
    padding: 1%;
}

.footer-link:hover {
    opacity: .5;
}